body{
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: 'Cairo', sans-serif;
  background-color: #dceff5;
  color: #084c61;
  font-size: 25px;
  margin: 0 auto;
  margin-bottom: -50px;
}

header{
  width: 100%;
  background-color: #084c61;
  color: #dceff5;
  font-size: 25px;
}

h1, h5{
  margin: 0 auto;
}

h1{
  height: 75px;
}

h2{
  margin: 10px 0 15px 0;
}

h5{
  color: #ffc857;
}

.profile-img{
  width: 250px;
  border: 2px solid #ffc857;
  border-radius: 50%;
}

.content{
  margin-bottom: 60px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.bio{
  margin: 15px 15px 40px 15px;
}

.container{
  margin: 0;
  margin-bottom: 35px;
  width: 60%;
  height: 100%;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-wrap: row wrap;
  justify-items: center;
  align-items: center;
  box-shadow: 1px 1px 15px 1px #b2d0da;
}

.column1{
  width: 10%;
}


.app-description{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  text-align: left;
  width: 35%;
  height: 100%;
  font-weight: 300;
}

.app-title{
  margin: 20px 0 0 0;
}

.tech{
  margin: 0;
  font-size: 16px;
}

hr{
  display: block;
  height: .5px;
  border: 0;
  border-top: 1px solid #084c61;
  margin: 5px 0 0 0;
  padding: 0;
}

.column2{
  width: 10%
}

.link{
  width: 50%;
}

.app-screenshot{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.column3{
  width: 10%;
}

footer{
  display: flex;
  justify-content: space-evenly;
  position:fixed;
  bottom:0;
  width:100%;
  background-color: #084c61;
}

