<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/419834c140.js" crossorigin="anonymous"></script>   
    <title>Document</title>
</head>
<body>
  <header>
    <h1>Claire Thompson</h1>
    <h5>Pronouns: They/She</h5>
    <h2>Software Engineer</h3>
    <img class="profile-img" src="/static/IMG_1273_jpg.png">
  </header>
  <div class="content">
    <p class="bio">
      I am a fullstack software engineer with experience in JavaScript, CSS, NodeJs, MongoDb, ReactJs, Python, and Flask. I am passionate about using my skills in software development to help others and contribute to good in the world. Outside of programming I enjoy video games, hiking, and spending time with my two cats.
    </p>
    <h2>My Work</h2>
    <div class="container">
        <h3>Pseudoku</h3>
        <p>
          Pseudoku is a simplified, single board browser game based off of the game Sudoku, a logic based, number placement puzzle where the objective is to fill out a 9 x 9 grid so that each column, row, and 3 x 3 subgrid each contain the nubers 1 to 9
        </p>
        <a href="https://pseudoku.surge.sh/" target="_blank"><img class="app-screenshot" src="/static/Screen Shot 2022-04-20 at 2.03.45 PM.png" alt=""></a>
    </div>
  </div>
  <footer>
    <a href="https://www.linkedin.com/in/cithompson/" target="_blank" style="color: #ffc857"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://github.com/cit690" target="_blank" style="color: #ffc857"><i class="fa-brands fa-github"></i></a>
    <a href="mailto:cit690@gmail.com" style="color: #ffc857"><i class="fa-solid fa-envelope"></i></a>
  </footer>
</body>
</html>