<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/419834c140.js" crossorigin="anonymous"></script>   
    <title>Document</title>
</head>
<body>
  <header>
    <h1>Claire Thompson</h1>
    <h5>Pronouns: They/She</h5>
    <h2>Software Engineer</h3>
    <img class="profile-img" src="/static/IMG_1273_jpg.png">
  </header>
    <p>I am a fullstack software engineer with experience in JavaScript, CSS, NodeJs, MongoDb, ReactJs, Python, and Flask. I am passionate about using my skills in software development to help others and contribute to good in the world. Outside of programming I enjoy video games, hiking, and spending time with my two cats.</p>
  <footer>
    <a href="https://www.linkedin.com/in/cithompson/" style="color: #ffc857"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://github.com/cit690" style="color: #ffc857"><i class="fa-brands fa-github"></i></a>
    <a href="mailto:cit690@gmail.com" style="color: #ffc857"><i class="fa-solid fa-envelope"></i></a>
  </footer>
</body>
</html>