<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/419834c140.js" crossorigin="anonymous"></script>   
    <title>Document</title>
</head>
<body>
  <header>
    <h1>Claire Thompson</h1>
    <h5>Pronouns: They/She</h5>
    <h2>Software Engineer</h3>
    <img class="profile-img" src="/static/IMG_1273_jpg.png">
  </header>
  <div class="content">
    <p class="bio">
      I am a fullstack software engineer with experience in JavaScript, CSS, NodeJs, MongoDb, ReactJs, Python, and Flask. I am passionate about using my skills in software development to help others and contribute to good in the world. Outside of programming I enjoy video games, hiking, and spending time with my two cats.
    </p>
    <h2>My Work</h2>
    <div class="container">
      <div class="column1"></div>
      <div class="app-description">
        <h3 class="app-title">Pseudoku</h3>
        <p class="tech">HTML, CSS, JavaScript</p>
        <hr>
        <p>
        Pseudoku is a simplified, single board browser game based off of the game Sudoku, a logic based, number placement puzzle where the objective is to fill out a 9 x 9 grid so that each column, row, and 3 x 3 subgrid each contain the numbers 1 to 9.
        </p>
      </div>
      <div class="column2"></div>
      <a class="link" href="https://pseudoku.surge.sh/" target="_blank"><img class="app-screenshot" src="/static/Screen Shot 2022-04-20 at 2.03.45 PM.png" alt=""></a>
      <div class="column3"></div>
    </div>

    <div class="container">
      <div class="column1"></div>
      <div class="app-description">
        <h3 class="app-title">End of Life Planner</h3>
        <p class="tech">ExpressJs, NodeJs, Mongoose, MongoDb, JavaScript, HTML, CSS</p>
        <hr>
        <p>
          The End of Life Planner allows a user to create and edit their end of life plans with an easy to use form based application. This application gives users the opportunity to have their wishes for their ideal end of life out in the open for their loved ones to see.
        </p>
      </div>
      <div class="column2"></div>
      <a class="link" href="https://end-of-life-planner.herokuapp.com/" target="_blank"><img class="app-screenshot" src="/static/Screen Shot 2022-04-20 at 6.18.23 PM.png" alt=""></a>
      <div class="column3"></div>
    </div>

    <div class="container">
      <div class="column1"></div>
      <div class="app-description">
        <h3 class="app-title">Animal Feud</h3>
        <p class="tech"> ReactJs, ExpressJs, NodeJs, Mongoose, MongoDb, JavaScript, HTML, MUI, CSS</p>
        <hr>
        <p>
          A collaborative effort between myself and my two colleagues, Jeremy Underwood and Darnell Dugger, Animal Feud is a social web application intended for users to share facts and opinions about various animal related topics, and engage in light-hearted debates about said topics.
        </p>
      </div>
      <div class="column2"></div>
      <a class="link" href="https://animal-feud-fe.herokuapp.com/" target="_blank"><img class="app-screenshot" src="/static/68747470733a2f2f692e696d6775722e636f6d2f444c755655674d2e706e67.png" alt=""></a>
      <div class="column3"></div>
    </div>

    <div class="container">
      <div class="column1"></div>
      <div class="app-description">
        <h3 class="app-title">Lavndr</h3>
        <p class="tech"> ReactJs, Python, Flask, Postgres, CSS</p>
        <hr>
        <p>
          Developed by myself and Tye Webster, Lavndr is a social web application application with the intended purpose of helping those within the LGBTQA+ community to discover and build platonic connections. A work in progress that currently offers a user input profile form and direct message functionality. 
        </p>
      </div>
      <div class="column2"></div>
      <a class="link" href="https://lavndr.netlify.app/" target="_blank"><img class="app-screenshot" src="/static/Screen Shot 2022-04-21 at 3.39.02 PM.png" alt=""></a>
      <div class="column3"></div>
    </div>
  </div>
  <footer>
    <a href="https://www.linkedin.com/in/cithompson/" target="_blank" style="color: #ffc857"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://github.com/cit690" target="_blank" style="color: #ffc857"><i class="fa-brands fa-github"></i></a>
    <a href="mailto:cit690@gmail.com" style="color: #ffc857"><i class="fa-solid fa-envelope"></i></a>
  </footer>
</body>
</html>